* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
Navbar
*/
.navbar {
  background-color: #ffe6e6;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.nav-menu {
  list-style-type: none;
}

.nav-menu,
.nav-items {
  display: flex;
  flex-direction: row;
}

.nav-items.mr {
  margin-left: auto;
}

.nav-items.ml {
  margin-right: auto;
}

.navbar.center .nav-menu {
  justify-content: center;
}

.navbar.end .nav-menu {
  justify-content: flex-end;
}

.navbar.even .nav-menu {
  justify-content: space-evenly;
}

.navbar.between .nav-menu {
  justify-content: space-between;
}

.nav-item {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav-item:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-item:last-of-type {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-item:hover {
  background-color: #eed3d9;
  transform: translate(-2px, -1px);
}

.nav-item:has(> .nav-link):active {
  transform: scale(0.9);
}

.nav-link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.nav-item > * {
  padding: 1rem;
}
